.symbols-selector {
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.symbols-selector-grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(14, calc(100% / 14));
    aspect-ratio: 8 / 14;
    align-self: start;
}

@media (max-height: 800px) {
    .symbols-selector-grid {
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(8, calc(100% / 8));
        aspect-ratio: 14 / 8;
        align-self: start;
    }
}