.controls {
    align-self: stretch;
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    align-items: start;
}

.top {
    height: 50%;
    display: flex;
    gap: var(--size-md);
}