.controls {
    align-self: stretch;
    display: block;
    position: relative;
    min-width: 30%;
    box-sizing: border-box;
}

.top {
    height: 50vh;
    display: grid;
    grid-template-columns: 20% repeat(3, 1fr); /* Палитра, а затем три чекбокса */
    grid-template-rows: 1fr auto; /* Разделение пространства на две строки: для чекбоксов и для кнопки сохранения */
    gap: var(--size-md);
}