.symbols-selector {
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.symbols-selector-grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(14, calc(calc(100% / 14) - 5px));
    gap: 5px;
    aspect-ratio: 8 / 14;
    align-self: start;
}