.colors-selector {
    flex-basis: 20%;
    font-family: Roboto, sans-serif;
    font-size: 9px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    text-transform: uppercase;
}
@media (max-height: 800px) {
    .colors-selector {
        font-size: 6px;
    }
}
.palettes {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--size-sm);
    max-height: calc(100% - 30px);
    flex-grow: 1;
}