.editor-canvas {
    height: 100%;
    overflow: auto;
    padding: 1px;
    box-sizing: border-box;
    aspect-ratio: 4 / 3;
}

.editor-canvas-elements {
    max-height: 100%;
    position: relative;
    aspect-ratio: 4 / 3;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(24, 1fr);
    grid-gap: 0;
}