.palette-color {
    width: 100%;
    aspect-ratio: 1;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.54);
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
}

.palette-color-selected {
    outline: 1px solid #6F7173;
    outline-offset: -2px;
}
